*{
    margin: 0;
    padding: 0;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    }
.container{
    margin-right: 100px;
    margin-left: 100px;
    
    }
.logo{
    margin-top: 50px;
    width: 75px;
    
}
.header-text{
    max-width: 750px;
    display: contain;
   
}
h1{
    font-size: 34px;
    margin-top: 100px;
 }

.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #0186d5;
    margin: 15px 0;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #0186d5;
    cursor: pointer;
    
}
p{
    font-size: 20px;
    line-height: 20px;
    color:  #0186d5;
}

.p1{
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    color: black;
}


.header-text button{
    margin-top: 25px;
    margin-bottom: 25px;
    }
.line-1{
    width: 100px;
    height: 15px;
    background: #0186d5;
    display: inline-block;
    
}
.line-2{
    width: 60px;
    height: 5px;
    background: #0186d5;
    display: inline-block;
    
}
.line-3{
    width: 40px;
    height: 2px;
    background: #0186d5;
    display: inline-block;
    }
.line{
    line-height: 20px;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #0186d5;
    z-index: 2;
    transition: 1s;
}
nav ul li{
    list-style: none;
    margin: 25px 20px;
    }
nav ul li a{
    text-decoration: none;
    color; #fff;
    }
#menuBtn{
    width: 60px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    }
/*about*/
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 50%;
   margin-left: 200px;
}
.about-right-col{
    flex-basis: 50%;
    text-align: left;
}
.about-text{
    max-width: 600px;
    margin-right: 100px;
    display: inline-block;
    }
/*More*/
#about1{
    padding: 0px 0;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}
.about1-left-col{
    flex-basis: 50%;
}
.about1-left-col img{
    width: 50%;
   margin-left: 200px;
}
.about1-right-col{
    flex-basis: 50%;
    text-align: left;
}
.about1-text{
    max-width: 600px;
    margin-right: 100px;
    display: inline-block;
    }
#Services{
    padding-top: 25px;
    padding-bottom: 50px;
}
.Services-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
.Services-col{
    flex-basis: 25%;
    text-align: center;
}
.Services-col img{
    width: 200px;
   
}
.Services-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
/*Offer*/
#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.offer-left-col{
    flex-basis: 50%;
    text-align: left;
}
.offer-text{
    max-width: 600px;
    margin-left: 200px;
    display: inline-block;
}
.offer-right-col{
    flex-basis: 50%;
    
}
.offer-right-col img{
    width: 65%;
    }

.services-list{
    font-size: 18px;
    line-height: 18px;
    color:#0186d5;
    max-width: 600px;
    margin-left: 20px;
    display: inline-block;
    }
/*Offer2*/
#offer2{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.offer2-left-col{
    flex-basis: 50%;
    text-align: left;
}
.offer2-text{
    max-width: 600px;
    margin-left: 200px;
    display: inline-block;
}
.offer2-right-col{
    flex-basis: 50%;
    
}
.offer2-right-col img{
    width: 20%;
    }

.services-list{
    font-size: 18px;
    line-height: 18px;
    color:#0186d5;
    max-width: 600px;
    margin-left: 20px;
    display: inline-block;
    }

/*---Footer---*/
#foot{
    padding:50px 0 30px;
  }
hr{
    width: 100%;
     border: 0;
    border-top: 1px solid #0186d5;

}
.foot-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.foot-left-col{
    flex-basis: 50%;
    margin-top: 5px;
    
}
.foot-right-col{
    flex-basis: 50%;
}

.foot-links{
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.link-title h4{
    color: #00cbfe;
    margin-bottom: 10px;
}

 .link-title img{
    width: 15%;
}

/*--social--*/
.social {
    width= 50px;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
   }

.social img{
    display: block;
    width: 40px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
  /* styles for mobile devices */
  #header {
    background-image: none;
    height: auto;
    align-content: center;
    
  }
  
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .logo {
    width: 50px;
    margin-top: 20px;
    position: center;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 50px;
  }
  .header-text button{
    margin-top: 25px;
    margin-bottom: 25px;
    }
.line-1{
    width: 100px;
    height: 15px;
    background: #0186d5;
    display: none;
    
}
.line-2{
    width: 60px;
    height: 5px;
    background: #0186d5;
    display: none;
    
}
.line-3{
    width: 40px;
    height: 2px;
    background: #0186d5;
    display: none;
    }
.line{
    line-height: 20px;}
    
  #sideNav {
    width: 200px;
  }
  
  #menuBtn {
    right: 0px;
      display: none;
  }
  
  /* about */
  .about-left-col img {
    display: none;
    width: 0%;
    margin-left: 20px;
      align-content: center;
  }
  
  .about-right-col {
    flex-basis: 100%;
      }
  
  .about-text {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
  }
  
  /* more */
  .about1-left-col img {
    width: 00%;
    margin-left: 0;
  }
  
  .about1-right-col {
    flex-basis: 100%;
  }
  
  .about1-text {
    max-width: 100%;
    align-content: center;
    margin-right: 20px;
      margin-left: 20px;
  }
  
  /* services */
  .Services-row {
    width: 100%;
  }
  
  .Services-col {
    flex-basis: 100%;
  }
  
  .Services-col img {
    width: 200px;
  }
  
  /* offer */
    .offer-left-col{
    flex-basis: 90%;
    text-align: left;
    }
    
  .offer-left-col img {
    margin-left: 0;
    align-content: center;
      
  }
  
  .offer-right-col {
    flex-basis:25%;
    display: none;
      
  }
    .offer-text {
    margin-right: 00px;
    margin-left: 40px;
    align-content: center;
  }
    /*---Footer---*/
#foot{
   
  }
hr{
    width: 100%;
     border: 0;
    border-top: 1px solid #0186d5;
    justify-content: center;

}
.foot-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.foot-left-col{
    flex-basis: 50%;
    margin-top: 5px;
    display: none;
}
.foot-right-col{
    flex-basis: 50%;
}

.foot-links{
  display: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.link-title h4{
    color: #00cbfe;
    margin-bottom: 10px;
    align-content: center;
}

 .link-title img{
    width: 25%;
     align-content:center;
     justify-content: center;
     margin-top: 50px;
}
   #offer2{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.offer2-left-col{
    flex-basis: 100%;
    align-content: center;
    
}
.offer2-text{
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    display: inline-block;
}
.offer2-right-col{
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    }
iframe {
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
        margin-left: 35px;
        margin-right: 25px;
}
          
    
    /*--social--*/
.social {
    width= 25px;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
   }

.social img{
    display: block;
    width: 15px;
    margin: 0 auto 20px;
   }

}
   

































































